:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input, select, button {
    font-family: inherit;
    font-size: inherit;
}

img {
    width: 40px;
}


.header {
    background-color: var(--secondary-light);
    box-shadow: 0 0 10px var(--primary-dark);
    padding: 30px 0;
    margin-bottom: 25px;
}

#icon {
    width: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    width: 90%;
}

.title {
    display: flex;
    max-width: 1500px;
    align-items: center;
    gap: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
    flex: 1;
}

.modify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addGame {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    transition: filter 0.15s ease-in-out;
    background-color: var(--primary-light);
    cursor: pointer;
}

.addGame:hover {
    filter: brightness(90%);
}

#gameList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-light);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--primary-dark);
    padding: 20px;
    font-size: large;
    gap: 5px;
}

.cardModifiers {
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.cardModifiers img {
    width: 25px;
    cursor: pointer;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 400px;
    color: var(--primary-light);
    background-color: var(--primary-dark); /* to change */
    border-radius: 20px;
    padding: 15px;
    transform: translate(-50%, -50%) scale(0); /*change to scale 0 to make disapear */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.addGameModalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modalInput {
    width: 100%;
    border-radius: 10px;
    font-size: large;
    padding: 5px;
    margin-top: 10px;
}

.modal-played {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: large;
}

.modalCheckbox {
    transform: scale(1.5);
}





.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
    display: none;
    padding-bottom: 10px;
}

.ratingApplied {
    float: left;
    height: 46px;
    padding: 0 10px;
    padding-bottom: 10px;
}

.rating p, .ratingApplied p {
    text-align: center;
}

.rating:not(:checked) > input, .ratingApplied:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.ratingApplied:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before, .ratingApplied:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label, .ratingApplied > input:checked ~ label {
    color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rating.active {
    display: block;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.overlay.active {
    display: block;
}


